body {
  background-color: azure;
}

h1 {
  text-align: center;
}

fieldset {
  background-color: #ededed;
}

#main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 400px;
  margin: 0 auto;
}

#boxFilme {
  background-color: #ededed;
  border: 1px solid #aaaaaa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

#boxFilme {
  text-align: center;
}

#boxFilme {
  display: flex;
  margin: auto;
}
